In [1]:
import pandas as pd

In [2]:
bond = pd.read_csv("jamesbond.csv").head()

.set_index() and .reset_index() methods

In [3]:
bond.set_index("Film",inplace=True)

In [4]:
#bond.reset_index()

In [5]:
bond.sort_index(inplace=True)

In [6]:
bond

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7

.loc(), .iloc() and .ix() methods

In [7]:
bond.loc['Goldfinger']

Year                         1964
Actor                Sean Connery
Director             Guy Hamilton
Box Office                  820.4
Budget                       18.6
Bond Actor Salary             3.2
Name: Goldfinger, dtype: object

In [8]:
bond.iloc[2]

Year                          1963
Actor                 Sean Connery
Director             Terence Young
Box Office                   543.8
Budget                        12.6
Bond Actor Salary              1.6
Name: From Russia with Love, dtype: object

In [9]:
#bond.loc['Goldfinger','Actor'] = "Sir Sean Connery"

In [16]:
#Search and replace
mask2 = bond['Actor'] == 'Daniel Craig'
bond.loc[mask2,'Actor'] = 'Sir Sean Connery'

In [17]:
mask = bond['Actor'] == 'Sean Connery'# creates boolean of 'Actor' field

bond.loc[mask,'Actor'] = 'Daniel Craig' #changes actor name where boolean is true

In [18]:
bond

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
Dr. No,1962,Daniel Craig,Terence Young,448.8,7.0,0.6
From Russia with Love,1963,Daniel Craig,Terence Young,543.8,12.6,1.6
Goldfinger,1964,Daniel Craig,Guy Hamilton,820.4,18.6,3.2
Thunderball,1965,Daniel Craig,Terence Young,848.1,41.9,4.7

Rename index Labels and Columns in Dataframes

In [19]:
bond.rename(columns={'Film':'Movie',
                    'Box Office':'Income'})

,Year,Actor,Director,Income,Budget,Bond Actor Salary
Film,,,,,,
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
Dr. No,1962,Daniel Craig,Terence Young,448.8,7.0,0.6
From Russia with Love,1963,Daniel Craig,Terence Young,543.8,12.6,1.6
Goldfinger,1964,Daniel Craig,Guy Hamilton,820.4,18.6,3.2
Thunderball,1965,Daniel Craig,Terence Young,848.1,41.9,4.7

In [20]:
bond.rename(index={"Goldfinger":"Silverfinger",'Thunderball':'Thunderbolt'},inplace=True)

In [21]:
bond

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
Dr. No,1962,Daniel Craig,Terence Young,448.8,7.0,0.6
From Russia with Love,1963,Daniel Craig,Terence Young,543.8,12.6,1.6
Silverfinger,1964,Daniel Craig,Guy Hamilton,820.4,18.6,3.2
Thunderbolt,1965,Daniel Craig,Terence Young,848.1,41.9,4.7

Delete rows and columns from DF

df.drop("column_name")-->drops named column(s)
df.drop("row_name",axis="index")-->drops named row(s)

Create Randomn sample with .sample()

In [22]:
bond.sample(1, axis='columns')

                            Director
Film
Casino Royale             Ken Hughes
Dr. No                 Terence Young
From Russia with Love  Terence Young
Silverfinger            Guy Hamilton
Thunderbolt            Terence Young

In [23]:
bond

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
Dr. No,1962,Daniel Craig,Terence Young,448.8,7.0,0.6
From Russia with Love,1963,Daniel Craig,Terence Young,543.8,12.6,1.6
Silverfinger,1964,Daniel Craig,Guy Hamilton,820.4,18.6,3.2
Thunderbolt,1965,Daniel Craig,Terence Young,848.1,41.9,4.7

.nsmallest() and .nlargest()

In [24]:
bond.nlargest(1,columns ="Budget")

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN

.where() method

In [25]:
bond.where(bond["Year"] >= 1965)

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Casino Royale,1967.0,David Niven,Ken Hughes,315.0,85.0,NaN
Dr. No,NaN,NaN,NaN,NaN,NaN,NaN
From Russia with Love,NaN,NaN,NaN,NaN,NaN,NaN
Silverfinger,NaN,NaN,NaN,NaN,NaN,NaN
Thunderbolt,1965.0,Daniel Craig,Terence Young,848.1,41.9,4.7

In [26]:
bond.columns= [var_col.replace(' ','_') for var_col in bond.columns]#replace method

.query() Method #won't work on columns with spaces

In [27]:
bond.query("Actor in ('Roger Moore','Sean Connery')")

Empty DataFrame
Columns: [Year, Actor, Director, Box_Office, Budget, Bond_Actor_Salary]
Index: []

In [28]:
bond.query("Bond_Actor_Salary > 1.6")

,Year,Actor,Director,Box_Office,Budget,Bond_Actor_Salary
Film,,,,,,
Silverfinger,1964,Daniel Craig,Guy Hamilton,820.4,18.6,3.2
Thunderbolt,1965,Daniel Craig,Terence Young,848.1,41.9,4.7

In [29]:
s = bond["Actor"] == 'Sean Connery'
bond[s]

Empty DataFrame
Columns: [Year, Actor, Director, Box_Office, Budget, Bond_Actor_Salary]
Index: []

Review of .apply() method

In [30]:
def my_mill_concat(number):
    return str(number) + ' Million'

bond['Budget'] = bond["Budget"].apply(my_mill_concat)

In [31]:
bond

,Year,Actor,Director,Box_Office,Budget,Bond_Actor_Salary
Film,,,,,,
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0 Million,NaN
Dr. No,1962,Daniel Craig,Terence Young,448.8,7.0 Million,0.6
From Russia with Love,1963,Daniel Craig,Terence Young,543.8,12.6 Million,1.6
Silverfinger,1964,Daniel Craig,Guy Hamilton,820.4,18.6 Million,3.2
Thunderbolt,1965,Daniel Craig,Terence Young,848.1,41.9 Million,4.7

In [32]:
columns = ['Box_Office','Budget','Bond_Actor_Salary']
for col in columns:
    bond[col] = bond[col].apply(my_mill_concat)

In [33]:
bond

,Year,Actor,Director,Box_Office,Budget,Bond_Actor_Salary
Film,,,,,,
Casino Royale,1967,David Niven,Ken Hughes,315.0 Million,85.0 Million Million,nan Million
Dr. No,1962,Daniel Craig,Terence Young,448.8 Million,7.0 Million Million,0.6 Million
From Russia with Love,1963,Daniel Craig,Terence Young,543.8 Million,12.6 Million Million,1.6 Million
Silverfinger,1964,Daniel Craig,Guy Hamilton,820.4 Million,18.6 Million Million,3.2 Million
Thunderbolt,1965,Daniel Craig,Terence Young,848.1 Million,41.9 Million Million,4.7 Million

.apply() with row values

In [42]:
def good_movie(row):
    actor = row[1]
    budget = row[4]
    
    if actor == "Sean Connery":
        return "The best"
    elif actor == "Roger Moore" and budget>40:
        return "Better"
    else:
        return "Good"


bond.apply(good_movie, axis=1)

Film
Casino Royale            Good
Dr. No                   Good
From Russia with Love    Good
Silverfinger             Good
Thunderbolt              Good
dtype: object

.copy() Method# it creates a copy of the DF

In [43]:
directors = bond['Director'].copy()

In [44]:
directors

Film
Casino Royale               Ken Hughes
Dr. No                   Terence Young
From Russia with Love    Terence Young
Silverfinger              Guy Hamilton
Thunderbolt              Terence Young
Name: Director, dtype: object