In [1]:
import pandas as pd

In [2]:
import datetime as dt #it's a module, not a library

In [3]:
var_day=dt.date(1986,5,20)

In [4]:
var_day.month

5

In [5]:
var_datetime = dt.datetime(2010,11,30,8,50)

In [6]:
var_datetime.minute
var_datetime.second
str(var_datetime.day)

'30'

Pandas' Timestamp Object

In [7]:
pd.Timestamp('2010-4-18 8:22:33 PM')

Timestamp('2010-04-18 20:22:33')

Pandas' DateTimeIndex Object

In [8]:
pd.DatetimeIndex(['2010-01-01 20:55','2018-04-19 7:18'])

DatetimeIndex(['2010-01-01 20:55:00', '2018-04-19 07:18:00'], dtype='datetime64[ns]', freq=None)

In [9]:
var_date = ['2010-08-16','1998-11-22','1997-02-11']

In [10]:
ind = pd.DatetimeIndex(var_date)

In [11]:
values = [50,60,70]
pd.Series(data = values,index = ind)

2010-08-16    50
1998-11-22    60
1997-02-11    70
dtype: int64

pd.to_datetime() Method

In [18]:
pd.to_datetime("2019, 1,1")
pd.to_datetime(dt.date(2019, 1,1))

Timestamp('2019-01-01 00:00:00')

In [30]:
var_date1 = pd.Series(['2019, 1,1','1998-04-11','2020/12/25'])

In [32]:
s = pd.to_datetime(var_date1)

In [33]:
s

0   2019-01-01
1   1998-04-11
2   2020-12-25
dtype: datetime64[ns]

In [44]:
c = ['2019, 1,1','1998-04-11','2020/12/25']
c = pd.to_datetime(c)

In [45]:
pd.Series(index = c, data=['a','b','c'])

2019-01-01    a
1998-04-11    b
2020-12-25    c
dtype: object

In [47]:
pd.Series([1,2,3])

0    1
1    2
2    3
dtype: int64

In [48]:
var_date2= (["Hello","1992-06-12","2021-12-25"])

In [50]:
pd.to_datetime(var_date2, errors='coerce') #errors='coerce' allows non date items to be passed as NaT

DatetimeIndex(['NaT', '1992-06-12', '2021-12-25'], dtype='datetime64[ns]', freq=None)

RANGE OF DATES WITH pd.date_range() METHOD

In [171]:
var_range_dates = pd.date_range(start='2019-03-18',periods=10,freq='20d')#freq is intervals and start and end are approximated 
var_range_dates

DatetimeIndex(['2019-03-18', '2019-04-07', '2019-04-27', '2019-05-17',
               '2019-06-06', '2019-06-26', '2019-07-16', '2019-08-05',
               '2019-08-25', '2019-09-14'],
              dtype='datetime64[ns]', freq='20D')

In [66]:
c = ('2018-07-10 1:36:58.173187072')
d = ('2019-01-05 14:46:11.709499648')

In [70]:
c= pd.to_datetime(c)
d= pd.to_datetime(d)

In [72]:
s = c - d
s

Timedelta('-180 days +10:50:46.463687')

In [127]:
ser = pd.Series(['J','f','c'])

.dt Accessor( METHOD)

In [172]:
date_Ser = pd.Series(var_range_dates)

In [143]:
ser

0    J
1    f
2    c
dtype: object

In [173]:
date_Ser.dt.is_month_start

0    False
1    False
2    False
3    False
4    False
5    False
6    False
7    False
8    False
9    False
dtype: bool