In [1]:
import pandas as pd

In [5]:
DF=pd.read_csv(URL)

In [4]:
URL ="https://data.cityofnewyork.us/api/views/25th-nujf/rows.csv"

In [ ]:
fn = DF["Child's First Name"]
fn.head()

In [ ]:
fn_fr=fn.to_frame()

In [ ]:
fn_fr.head()

In [ ]:
fn_fr['Child\'s First Name']

In [ ]:
",".join(str(name)for name in DF["Child's First Name"])

In [6]:
DF.head(2)

   Year of Birth  Gender Ethnicity Child's First Name  Count  Rank
0           2011  FEMALE  HISPANIC          GERALDINE     13    75
1           2011  FEMALE  HISPANIC                GIA     21    67

TO EXPORT A CSV AFTER WORK DONE

In [29]:
DF.to_csv('Baby Names')#creates a new csv file from our DF and overwrite any previous file saved with same name. use parameter 
#encoding='uft-8' if having troubles

Export an Excel File

In [15]:
DF_Girls = DF[DF['Gender']=='FEMALE']
Girls.head()

   Year of Birth  Gender Ethnicity Child's First Name  Count  Rank
0           2011  FEMALE  HISPANIC          GERALDINE     13    75
1           2011  FEMALE  HISPANIC                GIA     21    67
2           2011  FEMALE  HISPANIC             GIANNA     49    42
3           2011  FEMALE  HISPANIC            GISELLE     38    51
4           2011  FEMALE  HISPANIC              GRACE     36    53

In [16]:
DF_Boys= DF[DF['Gender']=='MALE']
Boys.head()

,Year of Birth,Gender,Ethnicity,Child's First Name,Count,Rank
546,2011,MALE,ASIAN AND PACIFIC ISLANDER,AARAV,15,51
547,2011,MALE,ASIAN AND PACIFIC ISLANDER,AARON,51,19
548,2011,MALE,ASIAN AND PACIFIC ISLANDER,ABDUL,20,46
549,2011,MALE,ASIAN AND PACIFIC ISLANDER,ABDULLAH,30,36
550,2011,MALE,ASIAN AND PACIFIC ISLANDER,ADAM,28,38

In [17]:
excel_file = pd.ExcelWriter('Baby Names.xlsx')

In [18]:
DF_Girls.to_excel(excel_file, sheet_name='Girls', index=False)

In [19]:
DF_Boys.to_excel(excel_file, sheet_name='Boys',index=False)

In [20]:
excel_file.save()