Create a SERIES from a python list

In [4]:
import pandas as pd

In [5]:
Ice_cream = ["Chocolate","Vanilla","Straberry","Rum Raisin"]

pd.Series(Ice_cream)

0     Chocolate
1       Vanilla
2     Straberry
3    Rum Raisin
dtype: object

In [6]:
lottery = [23,4,5,44,222,65]
pd.Series(lottery)

0     23
1      4
2      5
3     44
4    222
5     65
dtype: int64

CREATE A SERIES FROM A DICTIONARY

In [7]:
webster = {"Asrdvark":"Strange animal",
          "Banana":"Fruit I don't like",
          "Cyan":"A color"}
    pd.Series(webster)

IndentationError: unexpected indent (<ipython-input-7-616aabd9db73>, line 4)

Intro to Attributes

In [8]:
about_me_list = ["Easy going", "Loves God","Loved by God","Nigerian"]
s = pd.Series(about_me_list)

In [9]:
s.values

array(['Easy going', 'Loves God', 'Loved by God', 'Nigerian'],
      dtype=object)

In [10]:
s.index #Gives index information about the series contained in variable s

RangeIndex(start=0, stop=4, step=1)

In [11]:
s.dtype

dtype('O')

In [16]:
s.at_time

<bound method NDFrame.at_time of 0      Easy going
1       Loves God
2    Loved by God
3        Nigerian
dtype: object>

Intro to Methods

In [19]:
prices = [23,34,2,98,101]
s = pd.Series(prices)
s

0     23
1     34
2      2
3     98
4    101
dtype: int64

In [21]:
s.sum()

258

In [23]:
s.compound()

25446959

In [24]:
s.mean()

51.6

Parameters and Arguements

In [25]:
list1 = ["One","two","Three"]
list2 = ["TJ","Ahmed","Waris"]
pd.Series(list2,list1)#list1 will be index and list2 data. We can also say pd.Series(index = list1, data = list2)

One         TJ
two      Ahmed
Three    Waris
dtype: object

Import Series with the read_csv method

In [5]:
pokemon = pd.read_csv("pokemon.csv", usecols=["Pokemon"], squeeze=True)#usecols specify columns, squeeze turns table into Series

In [46]:
pokemon

0       Bulbasaur
1         Ivysaur
2        Venusaur
3      Charmander
4      Charmeleon
5       Charizard
6        Squirtle
7       Wartortle
8       Blastoise
9        Caterpie
10        Metapod
11     Butterfree
12         Weedle
13         Kakuna
14       Beedrill
15         Pidgey
16      Pidgeotto
17        Pidgeot
18        Rattata
19       Raticate
20        Spearow
21         Fearow
22          Ekans
23          Arbok
24        Pikachu
25         Raichu
26      Sandshrew
27      Sandslash
28        Nidoran
29       Nidorina
          ...
691     Clauncher
692     Clawitzer
693    Helioptile
694     Heliolisk
695        Tyrunt
696     Tyrantrum
697        Amaura
698       Aurorus
699       Sylveon
700      Hawlucha
701       Dedenne
702       Carbink
703         Goomy
704       Sliggoo
705        Goodra
706        Klefki
707      Phantump
708     Trevenant
709     Pumpkaboo
710     Gourgeist
711      Bergmite
712       Avalugg
713        Noibat
714       Noivern
715       Xerneas
716       Yveltal
717       Zygarde
718       Diancie
719         Hoopa
720     Volcanion
Name: Pokemon, Length: 721, dtype: object

In [2]:
google = pd.read_csv("google_stock_price.csv", squeeze=True)

NameError: name 'pd' is not defined

In [3]:
google

NameError: name 'google' is not defined

.head() and .tail() Methods

In [48]:
pokemon.head(10)#It returns the first number of specified rows and It's an independent object from pokemon

0     Bulbasaur
1       Ivysaur
2      Venusaur
3    Charmander
4    Charmeleon
5     Charizard
6      Squirtle
7     Wartortle
8     Blastoise
9      Caterpie
Name: Pokemon, dtype: object

In [49]:
google.tail(10)#It returns the last number of specified rows and It's an independent object from pokemon

3002    739.77
3003    738.42
3004    741.77
3005    745.91
3006    768.79
3007    772.88
3008    771.07
3009    773.18
3010    771.61
3011    782.22
Name: Stock Price, dtype: float64

Python's built in Functions

In [50]:
#Various in built functions can be used with our objects
len(google)#outputs number of rows in our table

3012

In [51]:
type(pokemon)

pandas.core.series.Series

In [12]:
dir(google)

NameError: name 'google' is not defined

In [53]:
sorted(pokemon)#Sorts Series alphabetically or numerically. Remember our tables have been converted into Series

['Abomasnow',
 'Abra',
 'Absol',
 'Accelgor',
 'Aegislash',
 'Aerodactyl',
 'Aggron',
 'Aipom',
 'Alakazam',
 'Alomomola',
 'Altaria',
 'Amaura',
 'Ambipom',
 'Amoonguss',
 'Ampharos',
 'Anorith',
 'Arbok',
 'Arcanine',
 'Arceus',
 'Archen',
 'Archeops',
 'Ariados',
 'Armaldo',
 'Aromatisse',
 'Aron',
 'Articuno',
 'Audino',
 'Aurorus',
 'Avalugg',
 'Axew',
 'Azelf',
 'Azumarill',
 'Azurill',
 'Bagon',
 'Baltoy',
 'Banette',
 'Barbaracle',
 'Barboach',
 'Basculin',
 'Bastiodon',
 'Bayleef',
 'Beartic',
 'Beautifly',
 'Beedrill',
 'Beheeyem',
 'Beldum',
 'Bellossom',
 'Bellsprout',
 'Bergmite',
 'Bibarel',
 'Bidoof',
 'Binacle',
 'Bisharp',
 'Blastoise',
 'Blaziken',
 'Blissey',
 'Blitzle',
 'Boldore',
 'Bonsly',
 'Bouffalant',
 'Braixen',
 'Braviary',
 'Breloom',
 'Bronzong',
 'Bronzor',
 'Budew',
 'Buizel',
 'Bulbasaur',
 'Buneary',
 'Bunnelby',
 'Burmy',
 'Butterfree',
 'Cacnea',
 'Cacturne',
 'Camerupt',
 'Carbink',
 'Carnivine',
 'Carracosta',
 'Carvanha',
 'Cascoon',
 'Castform',
 'Caterpie',
 'Celebi',
 'Chandelure',
 'Chansey',
 'Charizard',
 'Charmander',
 'Charmeleon',
 'Chatot',
 'Cherrim',
 'Cherubi',
 'Chesnaught',
 'Chespin',
 'Chikorita',
 'Chimchar',
 'Chimecho',
 'Chinchou',
 'Chingling',
 'Cinccino',
 'Clamperl',
 'Clauncher',
 'Clawitzer',
 'Claydol',
 'Clefable',
 'Clefairy',
 'Cleffa',
 'Cloyster',
 'Cobalion',
 'Cofagrigus',
 'Combee',
 'Combusken',
 'Conkeldurr',
 'Corphish',
 'Corsola',
 'Cottonee',
 'Cradily',
 'Cranidos',
 'Crawdaunt',
 'Cresselia',
 'Croagunk',
 'Crobat',
 'Croconaw',
 'Crustle',
 'Cryogonal',
 'Cubchoo',
 'Cubone',
 'Cyndaquil',
 'Darkrai',
 'Darmanitan',
 'Darumaka',
 'Dedenne',
 'Deerling',
 'Deino',
 'Delcatty',
 'Delibird',
 'Delphox',
 'Deoxys',
 'Dewgong',
 'Dewott',
 'Dialga',
 'Diancie',
 'Diggersby',
 'Diglett',
 'Ditto',
 'Dodrio',
 'Doduo',
 'Donphan',
 'Doublade',
 'Dragalge',
 'Dragonair',
 'Dragonite',
 'Drapion',
 'Dratini',
 'Drifblim',
 'Drifloon',
 'Drilbur',
 'Drowzee',
 'Druddigon',
 'Ducklett',
 'Dugtrio',
 'Dunsparce',
 'Duosion',
 'Durant',
 'Dusclops',
 'Dusknoir',
 'Duskull',
 'Dustox',
 'Dwebble',
 'Eelektrik',
 'Eelektross',
 'Eevee',
 'Ekans',
 'Electabuzz',
 'Electivire',
 'Electrike',
 'Electrode',
 'Elekid',
 'Elgyem',
 'Emboar',
 'Emolga',
 'Empoleon',
 'Entei',
 'Escavalier',
 'Espeon',
 'Espurr',
 'Excadrill',
 'Exeggcute',
 'Exeggutor',
 'Exploud',
 "Farfetch'd",
 'Fearow',
 'Feebas',
 'Fennekin',
 'Feraligatr',
 'Ferroseed',
 'Ferrothorn',
 'Finneon',
 'Flaaffy',
 'Flabébé',
 'Flareon',
 'Fletchinder',
 'Fletchling',
 'Floatzel',
 'Floette',
 'Florges',
 'Flygon',
 'Foongus',
 'Forretress',
 'Fraxure',
 'Frillish',
 'Froakie',
 'Frogadier',
 'Froslass',
 'Furfrou',
 'Furret',
 'Gabite',
 'Gallade',
 'Galvantula',
 'Garbodor',
 'Garchomp',
 'Gardevoir',
 'Gastly',
 'Gastrodon',
 'Genesect',
 'Gengar',
 'Geodude',
 'Gible',
 'Gigalith',
 'Girafarig',
 'Giratina',
 'Glaceon',
 'Glalie',
 'Glameow',
 'Gligar',
 'Gliscor',
 'Gloom',
 'Gogoat',
 'Golbat',
 'Goldeen',
 'Golduck',
 'Golem',
 'Golett',
 'Golurk',
 'Goodra',
 'Goomy',
 'Gorebyss',
 'Gothita',
 'Gothitelle',
 'Gothorita',
 'Gourgeist',
 'Granbull',
 'Graveler',
 'Greninja',
 'Grimer',
 'Grotle',
 'Groudon',
 'Grovyle',
 'Growlithe',
 'Grumpig',
 'Gulpin',
 'Gurdurr',
 'Gyarados',
 'Happiny',
 'Hariyama',
 'Haunter',
 'Hawlucha',
 'Haxorus',
 'Heatmor',
 'Heatran',
 'Heliolisk',
 'Helioptile',
 'Heracross',
 'Herdier',
 'Hippopotas',
 'Hippowdon',
 'Hitmonchan',
 'Hitmonlee',
 'Hitmontop',
 'Ho-oh',
 'Honchkrow',
 'Honedge',
 'Hoopa',
 'Hoothoot',
 'Hoppip',
 'Horsea',
 'Houndoom',
 'Houndour',
 'Huntail',
 'Hydreigon',
 'Hypno',
 'Igglybuff',
 'Illumise',
 'Infernape',
 'Inkay',
 'Ivysaur',
 'Jellicent',
 'Jigglypuff',
 'Jirachi',
 'Jolteon',
 'Joltik',
 'Jumpluff',
 'Jynx',
 'Kabuto',
 'Kabutops',
 'Kadabra',
 'Kakuna',
 'Kangaskhan',
 'Karrablast',
 'Kecleon',
 'Keldeo',
 'Kingdra',
 'Kingler',
 'Kirlia',
 'Klang',
 'Klefki',
 'Klink',
 'Klinklang',
 'Koffing',
 'Krabby',
 'Kricketot',
 'Kricketune',
 'Krokorok',
 'Krookodile',
 'Kyogre',
 'Kyurem',
 'Lairon',
 'Lampent',
 'Landorus',
 'Lanturn',
 'Lapras',
 'Larvesta',
 'Larvitar',
 'Latias',
 'Latios',
 'Leafeon',
 'Leavanny',
 'Ledian',
 'Ledyba',
 'Lickilicky',
 'Lickitung',
 'Liepard',
 'Lileep',
 'Lilligant',
 'Lillipup',
 'Linoone',
 'Litleo',
 'Litwick',
 'Lombre',
 'Lopunny',
 'Lotad',
 'Loudred',
 'Lucario',
 'Ludicolo',
 'Lugia',
 'Lumineon',
 'Lunatone',
 'Luvdisc',
 'Luxio',
 'Luxray',
 'Machamp',
 'Machoke',
 'Machop',
 'Magby',
 'Magcargo',
 'Magikarp',
 'Magmar',
 'Magmortar',
 'Magnemite',
 'Magneton',
 'Magnezone',
 'Makuhita',
 'Malamar',
 'Mamoswine',
 'Manaphy',
 'Mandibuzz',
 'Manectric',
 'Mankey',
 'Mantine',
 'Mantyke',
 'Maractus',
 'Mareep',
 'Marill',
 'Marowak',
 'Marshtomp',
 'Masquerain',
 'Mawile',
 'Medicham',
 'Meditite',
 'Meganium',
 'Meloetta',
 'Meowstic',
 'Meowth',
 'Mesprit',
 'Metagross',
 'Metang',
 'Metapod',
 'Mew',
 'Mewtwo',
 'Mienfoo',
 'Mienshao',
 'Mightyena',
 'Milotic',
 'Miltank',
 'Mime Jr.',
 'Minccino',
 'Minun',
 'Misdreavus',
 'Mismagius',
 'Moltres',
 'Monferno',
 'Mothim',
 'Mr. Mime',
 'Mudkip',
 'Muk',
 'Munchlax',
 'Munna',
 'Murkrow',
 'Musharna',
 'Natu',
 'Nidoking',
 'Nidoqueen',
 'Nidoran',
 'Nidoran♂',
 'Nidorina',
 'Nidorino',
 'Nincada',
 'Ninetales',
 'Ninjask',
 'Noctowl',
 'Noibat',
 'Noivern',
 'Nosepass',
 'Numel',
 'Nuzleaf',
 'Octillery',
 'Oddish',
 'Omanyte',
 'Omastar',
 'Onix',
 'Oshawott',
 'Pachirisu',
 'Palkia',
 'Palpitoad',
 'Pancham',
 'Pangoro',
 'Panpour',
 'Pansage',
 'Pansear',
 'Paras',
 'Parasect',
 'Patrat',
 'Pawniard',
 'Pelipper',
 'Persian',
 'Petilil',
 'Phanpy',
 'Phantump',
 'Phione',
 'Pichu',
 'Pidgeot',
 'Pidgeotto',
 'Pidgey',
 'Pidove',
 'Pignite',
 'Pikachu',
 'Piloswine',
 'Pineco',
 'Pinsir',
 'Piplup',
 'Plusle',
 'Politoed',
 'Poliwag',
 'Poliwhirl',
 'Poliwrath',
 'Ponyta',
 'Poochyena',
 'Porygon',
 'Porygon-Z',
 'Porygon2',
 'Primeape',
 'Prinplup',
 'Probopass',
 'Psyduck',
 'Pumpkaboo',
 'Pupitar',
 'Purrloin',
 'Purugly',
 'Pyroar',
 'Quagsire',
 'Quilava',
 'Quilladin',
 'Qwilfish',
 'Raichu',
 'Raikou',
 'Ralts',
 'Rampardos',
 'Rapidash',
 'Raticate',
 'Rattata',
 'Rayquaza',
 'Regice',
 'Regigigas',
 'Regirock',
 'Registeel',
 'Relicanth',
 'Remoraid',
 'Reshiram',
 'Reuniclus',
 'Rhydon',
 'Rhyhorn',
 'Rhyperior',
 'Riolu',
 'Roggenrola',
 'Roselia',
 'Roserade',
 'Rotom',
 'Rufflet',
 'Sableye',
 'Salamence',
 'Samurott',
 'Sandile',
 'Sandshrew',
 'Sandslash',
 'Sawk',
 'Sawsbuck',
 'Scatterbug',
 'Sceptile',
 'Scizor',
 'Scolipede',
 'Scrafty',
 'Scraggy',
 'Scyther',
 'Seadra',
 'Seaking',
 'Sealeo',
 'Seedot',
 'Seel',
 'Seismitoad',
 'Sentret',
 'Serperior',
 'Servine',
 'Seviper',
 'Sewaddle',
 'Sharpedo',
 'Shaymin',
 'Shedinja',
 'Shelgon',
 'Shellder',
 'Shellos',
 'Shelmet',
 'Shieldon',
 'Shiftry',
 'Shinx',
 'Shroomish',
 'Shuckle',
 'Shuppet',
 'Sigilyph',
 'Silcoon',
 'Simipour',
 'Simisage',
 'Simisear',
 'Skarmory',
 'Skiddo',
 'Skiploom',
 'Skitty',
 'Skorupi',
 'Skrelp',
 'Skuntank',
 'Slaking',
 'Slakoth',
 'Sliggoo',
 'Slowbro',
 'Slowking',
 'Slowpoke',
 'Slugma',
 'Slurpuff',
 'Smeargle',
 'Smoochum',
 'Sneasel',
 'Snivy',
 'Snorlax',
 'Snorunt',
 'Snover',
 'Snubbull',
 'Solosis',
 'Solrock',
 'Spearow',
 'Spewpa',
 'Spheal',
 'Spinarak',
 'Spinda',
 'Spiritomb',
 'Spoink',
 'Spritzee',
 'Squirtle',
 'Stantler',
 'Staraptor',
 'Staravia',
 'Starly',
 'Starmie',
 'Staryu',
 'Steelix',
 'Stoutland',
 'Stunfisk',
 'Stunky',
 'Sudowoodo',
 'Suicune',
 'Sunflora',
 'Sunkern',
 'Surskit',
 'Swablu',
 'Swadloon',
 'Swalot',
 'Swampert',
 'Swanna',
 'Swellow',
 'Swinub',
 'Swirlix',
 'Swoobat',
 'Sylveon',
 'Taillow',
 'Talonflame',
 'Tangela',
 'Tangrowth',
 'Tauros',
 'Teddiursa',
 'Tentacool',
 'Tentacruel',
 'Tepig',
 'Terrakion',
 'Throh',
 'Thundurus',
 'Timburr',
 'Tirtouga',
 'Togekiss',
 'Togepi',
 'Togetic',
 'Torchic',
 'Torkoal',
 'Tornadus',
 'Torterra',
 'Totodile',
 'Toxicroak',
 'Tranquill',
 'Trapinch',
 'Treecko',
 'Trevenant',
 'Tropius',
 'Trubbish',
 'Turtwig',
 'Tympole',
 'Tynamo',
 'Typhlosion',
 'Tyranitar',
 'Tyrantrum',
 'Tyrogue',
 'Tyrunt',
 'Umbreon',
 'Unfezant',
 'Unown',
 'Ursaring',
 'Uxie',
 'Vanillish',
 'Vanillite',
 'Vanilluxe',
 'Vaporeon',
 'Venipede',
 'Venomoth',
 'Venonat',
 'Venusaur',
 'Vespiquen',
 'Vibrava',
 'Victini',
 'Victreebel',
 'Vigoroth',
 'Vileplume',
 'Virizion',
 'Vivillon',
 'Volbeat',
 'Volcanion',
 'Volcarona',
 'Voltorb',
 'Vullaby',
 'Vulpix',
 'Wailmer',
 'Wailord',
 'Walrein',
 'Wartortle',
 'Watchog',
 'Weavile',
 'Weedle',
 'Weepinbell',
 'Weezing',
 'Whimsicott',
 'Whirlipede',
 'Whiscash',
 'Whismur',
 'Wigglytuff',
 'Wingull',
 'Wobbuffet',
 'Woobat',
 'Wooper',
 'Wormadam',
 'Wurmple',
 'Wynaut',
 'Xatu',
 'Xerneas',
 'Yamask',
 'Yanma',
 'Yanmega',
 'Yveltal',
 'Zangoose',
 'Zapdos',
 'Zebstrika',
 'Zekrom',
 'Zigzagoon',
 'Zoroark',
 'Zorua',
 'Zubat',
 'Zweilous',
 'Zygarde']

In [60]:
#list(pokemon) #Converts Series to lists

In [61]:
#dict(google)#   Converts Series to Dictionary

In [57]:
min(pokemon)#Max and Min return the first and last items on the lists or Series

'Abomasnow'

In [59]:
max(google)

782.22

In [66]:
google.values

array([ 50.12,  54.1 ,  54.65, ..., 773.18, 771.61, 782.22])

In [65]:
pokemon.index

RangeIndex(start=0, stop=721, step=1)

In [75]:
google.dtype

dtype('float64')

In [68]:
pokemon.is_unique#True if all values are unique, False if not

True

In [69]:
google.ndim#Tells number of dimension of data

1

In [71]:
pokemon.shape#returns number of record row and number of ClassFeatures. i.e rows number and column number

(721,)

In [72]:
google.size#returns number of records, including nulls

3012

In [73]:
google.name#Returns name of series

'Stock Price'

The .sort_values() Method

In [78]:
pokemon.sort_values()#Sorts values alphabetically. Note:without () it sorts by index

459     Abomasnow
62           Abra
358         Absol
616      Accelgor
680     Aegislash
141    Aerodactyl
305        Aggron
189         Aipom
64       Alakazam
593     Alomomola
333       Altaria
697        Amaura
423       Ambipom
590     Amoonguss
180      Ampharos
346       Anorith
23          Arbok
58       Arcanine
492        Arceus
565        Archen
566      Archeops
167       Ariados
347       Armaldo
682    Aromatisse
303          Aron
143      Articuno
530        Audino
698       Aurorus
712       Avalugg
609          Axew
          ...
69     Weepinbell
109       Weezing
546    Whimsicott
543    Whirlipede
339      Whiscash
292       Whismur
39     Wigglytuff
277       Wingull
201     Wobbuffet
526        Woobat
193        Wooper
412      Wormadam
264       Wurmple
359        Wynaut
177          Xatu
715       Xerneas
561        Yamask
192         Yanma
468       Yanmega
716       Yveltal
334      Zangoose
144        Zapdos
522     Zebstrika
643        Zekrom
262     Zigzagoon
570       Zoroark
569         Zorua
40          Zubat
633      Zweilous
717       Zygarde
Name: Pokemon, Length: 721, dtype: object

In [79]:
pokemon.sort_values().head(10)

459     Abomasnow
62           Abra
358         Absol
616      Accelgor
680     Aegislash
141    Aerodactyl
305        Aggron
189         Aipom
64       Alakazam
593     Alomomola
Name: Pokemon, dtype: object

In [82]:
google.sort_values(ascending = False).tail(5)#ascending=False needs to be made explicit to sort in descending order

12    50.74
10    50.70
0     50.12
9     50.07
11    49.95
Name: Stock Price, dtype: float64

The INPLACE PARAMETER #methods like above create new versions of the dataset when they manipulate them, The Inplace Parameter enforce 
#the changes on the original data, i.e overwrite it.

In [85]:
pokemon = pokemon.sort_values()#Pokemon is now overwritten with sorted version. THIS IS METHOD 1

In [86]:
pokemon

459     Abomasnow
62           Abra
358         Absol
616      Accelgor
680     Aegislash
141    Aerodactyl
305        Aggron
189         Aipom
64       Alakazam
593     Alomomola
333       Altaria
697        Amaura
423       Ambipom
590     Amoonguss
180      Ampharos
346       Anorith
23          Arbok
58       Arcanine
492        Arceus
565        Archen
566      Archeops
167       Ariados
347       Armaldo
682    Aromatisse
303          Aron
143      Articuno
530        Audino
698       Aurorus
712       Avalugg
609          Axew
          ...
69     Weepinbell
109       Weezing
546    Whimsicott
543    Whirlipede
339      Whiscash
292       Whismur
39     Wigglytuff
277       Wingull
201     Wobbuffet
526        Woobat
193        Wooper
412      Wormadam
264       Wurmple
359        Wynaut
177          Xatu
715       Xerneas
561        Yamask
192         Yanma
468       Yanmega
716       Yveltal
334      Zangoose
144        Zapdos
522     Zebstrika
643        Zekrom
262     Zigzagoon
570       Zoroark
569         Zorua
40          Zubat
633      Zweilous
717       Zygarde
Name: Pokemon, Length: 721, dtype: object

In [87]:
google.sort_values(inplace=True)

In [88]:
google

11       49.95
9        50.07
0        50.12
10       50.70
12       50.74
7        50.95
14       51.10
13       51.10
8        51.13
3        52.38
15       52.61
4        52.95
6        53.02
16       53.70
5        53.90
1        54.10
2        54.65
17       55.69
18       55.94
19       56.93
20       58.69
22       58.86
26       59.07
23       59.13
21       59.62
25       59.86
24       60.35
27       63.37
29       64.74
28       65.47
         ...
2921    750.53
2846    751.61
2931    751.72
2881    752.00
2842    752.54
2936    752.67
2932    753.20
2935    753.93
2835    755.98
2834    756.60
2851    758.09
2861    758.88
2933    759.00
2937    759.14
2845    762.37
2841    762.38
2858    762.51
2844    763.25
2882    764.65
2934    766.61
2843    766.81
2840    767.04
3006    768.79
2860    771.00
3008    771.07
3010    771.61
3007    772.88
3009    773.18
2859    776.60
3011    782.22
Name: Stock Price, Length: 3012, dtype: float64

In [17]:
pokemon.sort_index(inplace=True)

Python's IN keyword

In [13]:
10 in [1,23,2,655,454,10]#True if provided value exists in list, False otherwise

True

In [14]:
"Ivysaur" in pokemon.values#"value" in Series_name.value is used to check if a value exists in a SERIES.ipynb

True

In [15]:
google[55]

84.59

In [26]:
pokemon[-14:-9]#last 14 to last 9

707     Phantump
708    Trevenant
709    Pumpkaboo
710    Gourgeist
711     Bergmite
Name: Pokemon, dtype: object

Extract Values by Index Label

In [31]:
pokemon = pd.read_csv("pokemon.csv", index_col="Pokemon",squeeze=True)#index_col makes a chosen feature our index
pokemon.head(3)

Pokemon
Bulbasaur    Grass
Ivysaur      Grass
Venusaur     Grass
Name: Type, dtype: object

In [35]:
pokemon[["Bulbasaur","Pikachu"]]#as seen here, two [][] are used to display multiple records

Pokemon
Bulbasaur       Grass
Pikachu      Electric
Name: Type, dtype: object

In [36]:
pokemon["Bulbasaur":"Pikachu"]#but for range of indexes, only one []

Pokemon
Bulbasaur        Grass
Ivysaur          Grass
Venusaur         Grass
Charmander        Fire
Charmeleon        Fire
Charizard         Fire
Squirtle         Water
Wartortle        Water
Blastoise        Water
Caterpie           Bug
Metapod            Bug
Butterfree         Bug
Weedle             Bug
Kakuna             Bug
Beedrill           Bug
Pidgey          Normal
Pidgeotto       Normal
Pidgeot         Normal
Rattata         Normal
Raticate        Normal
Spearow         Normal
Fearow          Normal
Ekans           Poison
Arbok           Poison
Pikachu       Electric
Name: Type, dtype: object

In [39]:
pokemon.sort_index(inplace=True)
pokemon.head(5)

Pokemon
Abomasnow      Grass
Abra         Psychic
Absol           Dark
Accelgor         Bug
Aegislash      Steel
Name: Type, dtype: object

The .get() method

In [49]:
pokemon.get(key="Moltre", default="Non-Existing value")#default is returned when key value doesn't exist

'Non-Existing value'

In [53]:
pokemon.get(key=["Moltre","Moltres"],default="Non-Existing value")

O:\Installations\Anaconda\lib\site-packages\pandas\core\series.py:850: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike
  return self.loc[key]

Pokemon
Moltre      NaN
Moltres    Fire
Name: Type, dtype: object

In [55]:
pokemon.loc["Moltres"]

'Fire'

In [58]:
pokemon.reindex(["Moltre","Moltres"])

Pokemon
Moltre      NaN
Moltres    Fire
Name: Type, dtype: object

Maths methods on Series objects

In [61]:
google.count()#count excludes missing values unlike len()

3012

In [63]:
google.std()

173.18720477113106

In [74]:
google.mode()

0    291.21
dtype: float64

In [75]:
google.describe()

count    3012.000000
mean      334.310093
std       173.187205
min        49.950000
25%       218.045000
50%       283.315000
75%       443.000000
max       782.220000
Name: Stock Price, dtype: float64

In [83]:
google.idxmax()#returns index of max value, idxmin() returns index of smallest value
google[(google.idxmin())]

49.95

In [95]:
vl = google.value_counts()#returns count of each value
vl.head(5)

291.21    5
288.47    3
194.80    3
307.94    3
243.26    3
Name: Stock Price, dtype: int64

.apply()-->It is used to pass user defined function into Series.

In [103]:
def classifier(number):
    if number < 300:
        return "OK"
    elif number >=300 and number < 600:
        return "Satisfacrory"
    else:
        return "Excellent"

In [107]:
google.apply(classifier).head()

0    OK
1    OK
2    OK
3    OK
4    OK
Name: Stock Price, dtype: object

In [109]:
google.apply(lambda stock_price:stock_price - 1)#lambda helps to perform basic arithmetic operations on any column of our series

0        49.12
1        53.10
2        53.65
3        51.38
4        51.95
5        52.90
6        52.02
7        49.95
8        50.13
9        49.07
10       49.70
11       48.95
12       49.74
13       50.10
14       50.10
15       51.61
16       52.70
17       54.69
18       54.94
19       55.93
20       57.69
21       58.62
22       57.86
23       58.13
24       59.35
25       58.86
26       58.07
27       62.37
28       64.47
29       63.74
         ...
2982    674.22
2983    667.26
2984    679.04
2985    683.11
2986    691.10
2987    698.21
2988    693.49
2989    696.77
2990    694.36
2991    704.63
2992    714.09
2993    719.64
2994    715.98
2995    719.95
2996    718.85
2997    732.78
2998    735.96
2999    740.19
3000    737.63
3001    741.74
3002    738.77
3003    737.42
3004    740.77
3005    744.91
3006    767.79
3007    771.88
3008    770.07
3009    772.18
3010    770.61
3011    781.22
Name: Stock Price, Length: 3012, dtype: float64

In [114]:
google.apply(lambda stock_price: stock_price%2 == 0)
google.head(6)

0    50.12
1    54.10
2    54.65
3    52.38
4    52.95
5    53.90
Name: Stock Price, dtype: float64

In [120]:
def mult(number):
    if number % 2 == 0:
        return number, "Multiple of 2"
    else:
        return number, "Not Multiple of 2"

In [121]:
n = google.apply(mult)
n.head()

0    (50.12, Not Multiple of 2)
1     (54.1, Not Multiple of 2)
2    (54.65, Not Multiple of 2)
3    (52.38, Not Multiple of 2)
4    (52.95, Not Multiple of 2)
Name: Stock Price, dtype: object

The .map() Method

In [129]:
pokemon_regularindex = pd.read_csv("pokemon.csv", usecols =["Pokemon"], squeeze=True)
pokemon_regularindex.head()

0     Bulbasaur
1       Ivysaur
2      Venusaur
3    Charmander
4    Charmeleon
Name: Pokemon, dtype: object

In [127]:
pokemon_altIndex = pd.read_csv("pokemon.csv", index_col="Pokemon", squeeze=True)
pokemon_altIndex.head()

Pokemon
Bulbasaur     Grass
Ivysaur       Grass
Venusaur      Grass
Charmander     Fire
Charmeleon     Fire
Name: Type, dtype: object

In [130]:
mapVar = pokemon_regularindex.map(pokemon_altIndex)
mapVar.head()

0    Grass
1    Grass
2    Grass
3     Fire
4     Fire
Name: Pokemon, dtype: object

In [134]:
dd = dict(pokemon_altIndex)
pokemon_regularindex.map(dd)

0         Grass
1         Grass
2         Grass
3          Fire
4          Fire
5          Fire
6         Water
7         Water
8         Water
9           Bug
10          Bug
11          Bug
12          Bug
13          Bug
14          Bug
15       Normal
16       Normal
17       Normal
18       Normal
19       Normal
20       Normal
21       Normal
22       Poison
23       Poison
24     Electric
25     Electric
26       Ground
27       Ground
28       Poison
29       Poison
         ...
691       Water
692       Water
693    Electric
694    Electric
695        Rock
696        Rock
697        Rock
698        Rock
699       Fairy
700    Fighting
701    Electric
702        Rock
703      Dragon
704      Dragon
705      Dragon
706       Steel
707       Ghost
708       Ghost
709       Ghost
710       Ghost
711         Ice
712         Ice
713      Flying
714      Flying
715       Fairy
716        Dark
717      Dragon
718        Rock
719     Psychic
720        Fire
Name: Pokemon, Length: 721, dtype: object