In [1]:
import pandas as pd

In [5]:
DF=pd.read_excel('Data - Single Worksheet.xlsx')
DF.head(2)

  First Name Last Name    City Gender
0    Brandon     James   Miami      M
1       Sean   Hawkins  Denver      M

In [9]:
DF1=pd.read_excel("Data - Multiple Worksheets.xlsx", sheet_name=1)
DF1.head(2)

  First Name Last Name          City Gender
0     Parker     Power       Raleigh      F
1    Preston  Prescott  Philadelphia      F

In [14]:
DF0=pd.read_excel("Data - Multiple Worksheets.xlsx", sheet_name=None)

In [15]:
DF0

OrderedDict([('Data 1',   First Name Last Name           City Gender
              0    Brandon     James          Miami      M
              1       Sean   Hawkins         Denver      M
              2       Judy       Day    Los Angeles      F
              3     Ashley      Ruiz  San Francisco      F
              4  Stephanie     Gomez       Portland      F),
             ('Data 2',   First Name Last Name           City Gender
              0     Parker     Power        Raleigh      F
              1    Preston  Prescott   Philadelphia      F
              2    Ronaldo   Donaldo         Bangor      M
              3      Megan   Stiller  San Francisco      M
              4     Bustin    Jieber         Austin      F)])

Export Excel Files